@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste Cibergestion</h1>
    <p class="lead">Teste Cibergestion</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Teste Cibergestion</h2>
        <p>
            Teste de CRUD para a empresa Cibergestion
        </p>
    </div>    
</div>